[submodule "src/deps/libarchive"]
	path = src/deps/libarchive
    url = https://github.com/libarchive/libarchive
    ignore = dirty
    depth = 1
    shallow = true
    fetchRecurseSubmodules = false
